.container {
  display: flex; 
  justify-content: space-between; 
  padding: 20px; 
  flex-wrap: nowrap;
  background-color: white; 
}

.article {
  background-color: aqua; 
  padding: 15px;
  width: 30%; 
}

.article h3 {
  margin-top: 0; 
  color: black; 
}